/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin: 0;
    padding: 0;
}

img {
    max-width: 70%;
    max-height: 70%;
}

.portrait {
    height: 80px;
    width: 30px;
}

.landscape {
    height: 30px;
    width: 80px;
}

.square {
    height: 100%;
    width: 100%;
    float: left;
}

.seeData {
    border: 5px solid red;
    height: 100%;
    width: 100px;
}