<!--The content below is only a placeholder and can be replaced.-->
<table style="width: 100%; height: 100%; padding: 0; margin: 0">

  <tr>
    <td style="width: 75%">
      <div class="square">
        <h1 *ngIf="!connected">NOT CONNECTED</h1>
        <a href="#" (click)="myEvent($event)">
          <img *ngIf="connected && waiting" src="/assets/panther-waiting.jpg">
          <img *ngIf="connected && !waiting && giveIcecream" src="/assets/panther-pop.jpg">
          <img *ngIf="connected && !waiting && !giveIcecream" src="/assets/panther-stop.jpg">
        </a>
      </div>
    </td>
    <td class="seeData" style="vertical-align: top;" valign="top">
      <p style="text-align: center; font-weight: bold">Black Panther's List</p>
      <ol>
        <li *ngFor="let uid of data">{{uid}}</li>
      </ol>
    </td>
  </tr>

  <tr>
    <td colspan="2" style="height: 50px; width: 100%; padding: 0; margin: 0; text-align: center" valign="top" align="center" >
        <h2>{{ message }}</h2>
    </td>
  </tr>

</table>